Django==3.2.5
django-filter==2.4.0
djangorestframework==3.12.4
Markdown==3.3.4
psycopg2==2.9.1
django_fsm==2.7.1
django_cors_headers==3.7.0
redis==3.5.3
celery==5.1.2
docker==5.0.0
pyyaml==5.4.1
django-cleanup==5.2.0
jsonlines==2.0.0